<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">Exercises For Programmers</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="helloworld">
                01 - Hello World
            </NavLink>
        </li>
        @foreach (var exercise in Exercises.Select((title, index) => $"{index + 1} - {title}"))
        {
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="helloworld">
                    @exercise
                </NavLink>
            </li>
        }
    </ul>
</div>

@code
{
    public IEnumerable<string> Exercises = new List<string>
    {
        "Hello World"
    };

    private bool _collapseNavMenu = true;

    private string NavMenuCssClass => _collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        _collapseNavMenu = !_collapseNavMenu;
    }
}
