<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">Exercises For Programmers</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        @foreach (var exerciseData in Exercises.Select((title, index) => new { Index = index, Title = title }))
        {
            <li class="nav-item px-3">
                <NavLink
                    class="nav-link"
                    href="@((new string(exerciseData.Title.Where(c => !char.IsWhiteSpace(c)).ToArray())).ToLower())">
                    @($"{exerciseData.Index + 1:00} - {exerciseData.Title}")
                </NavLink>
            </li>
        }
    </ul>
</div>

@code
{
    public IEnumerable<string> Exercises = new List<string>
    {
        "Saying Hello",
        "Counting the Number of Characters"
    };

    private bool _collapseNavMenu = true;

    private string NavMenuCssClass => _collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        _collapseNavMenu = !_collapseNavMenu;
    }
}