@page "/sayinghello"

<div class="container">
    <div class="row pt-4">
        <div class="col-sm-auto">What is your name? </div>
        <div class="col-sm-auto"><input @bind="name"/></div>
    </div>
    <div class="row pt-4">
        <div class="col-sm-auto">@Greeting</div>
    </div>
</div>

@code
{
    private string name = "World";

    private string Greeting => $"Hello, {name}, nice to meet you!";
}